.container
  .row
    .col-md-3
      = image_tag "#{@book.image_url}",  :class => "image_book"
      
      
    .col-md-6
      h1 = @book.title
      p #{@book.author} 著 
      p =@book.editorial_review
  
    .col-md-3.borrow-information
      h3 貸し出し状況
      
      -if @book.borrowable?

        h4 借りる

        = form_tag create_borrows_path, method: 'post' do
          = hidden_field_tag :book_id, @book.id
          = date_field_tag :return_date
          = submit_tag '借りる'
      -else
        -if @book.current_user_borrowed_book?(current_user)
          = link_to '返す', return_books_path(book_id: @book.id), :method => 'patch'
        -else 
          h4 貸出中

  
  -array = []
  -5.times{|t| array.push(t+1)}
    
  .row
    = form_tag create_reviews_path, method: 'post' do
      = hidden_field_tag :book_id, @book.id
      = select_tag :degree, options_for_select(array)
      = text_area_tag :content
      = submit_tag '投稿'

  .row
    -@reviews.each do |review|
      =review.degree
      =review.content
      br
