<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "#{@book.image_url}",  :class => "image_book"%>
    </div>
    <div class="col-md-9">
      <h1><%=@book.title%></h1>
      <p><%=@book.author%>（著）</p>
      <p><%=@book.editorial_review%></p>
    </div>
  </div>

</div>
